<!DOCTYPE html>
<html lang="ca">

	<head>
	  	<!--/* Required meta tags ------------------------------------------------- */-->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Projecte final 2021 per DAW">
	    <meta name="keywords" content="projecte, DAW">
	    <meta name="author" content="Grup 5">
	    <!--/* CSS ---------------------------------------------------------------- */-->
	    <link rel="stylesheet" href="/css/front/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/front/style.css">
	    <link rel="stylesheet" href="/css/front/style2.css">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&amp;family=Montserrat:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/css/68818763319cf667ed141dc03e654e8db3424772/assets/css/animate.min.css">
	    <link rel="stylesheet" href="/css/front/fontawesome.min.css">
	    <link rel="stylesheet" href="/css/front/brands.min.css">
	    <link rel="stylesheet" href="/css/front/solid.min.css">
	    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	    <title>Quepucferavui.cat</title>
	</head>
  
	<body class="snippet-body" oncontextmenu="return false">
  
		<!--/* CAPÇALERA ---------------------------------------------------------- */-->
		<div th:replace="front/static/header"></div>
		
		<!--/* COS ---------------------------------------------------------------- */-->
   		<div class="container doc-avis pb-2 px-5 px-md-0">
      		<h2 class="text-center">Avís legal</h2>
      		<p>En compliment de l'article 10 de la Llei 34/2002, de 11 de juliol, de Serveis de la Societat de la Informació i Comerç Electrònic, el Titular exposa les seves dades identificatives.</p>
      		<br>Titular: quepucferavui.cat
			<br>Registre mercantil: Que puc fer S.L.
			<br>Títol acadèmic oficial, dades del col·legi professional i número de col·legiat.
			<br>NIF: 00000000IOC
			<br>Domicili: Domicili social o una adreça on puguis rebre notificacions.
			<br>Correu electrònic: contacte@quepucferavui.cat
			<br>Lloc Web: https://ioc-grup05-qpf.herokuapp.com
			<br><br>
      		<h4>Finalitat</h4>
      		<p>Donar a conèixer activitats als usuaris de la web.</p>
      		<br>
      		<h4>Condicions d'ús</h4>
      		<p>La utilització del lloc web us atorga la condició d'Usuari, i implica l'acceptació completa de totes les clàusules i condicions d'ús incloses a les pàgines:</p>
      		<br>Avís Legal
			<br>Política de Privadesa o Política de Privacitat
			<br>Política de galetes
			<br>Si no estigués conforme amb totes i cadascuna d'aquestes clàusules i condicions, abstingui's d'utilitzar aquest lloc web.
      		<p>L'accés a aquest lloc web no suposa, de cap manera, l'inici d'una relació comercial amb el titular.</p>
      		<p>A través d'aquest lloc web, el Titular us facilita l'accés i la utilització de diversos continguts que el Titular o els seus col·laboradors han publicat per mitjà d'Internet.</p>
      		<p>A aquest efecte, vostè està obligat i compromès a NO utilitzar qualsevol dels continguts del lloc web amb finalitats o efectes il·lícits, prohibits en aquest Avís Legal o per la legislació vigent, lesius dels drets i interessos de tercers, o que de qualsevol manera puguin danyar, inutilitzar, sobrecarregar, deteriorar o impedir la utilització normal dels continguts, els equips informàtics o els documents, arxius i tota mena de continguts emmagatzemats en qualsevol equip informàtic propis o contractats pel Titular, d'altres usuaris o de qualsevol usuari de Internet.</p>
      		<br>
      		<h4>Mesures de seguretat</h4>
      		<p>Les dades personals que faciliti al Titular poden ser emmagatzemades en bases de dades automatitzades o no, la titularitat de les quals correspon en exclusiva al Titular, que assumeix totes les mesures d'índole tècnica, organitzativa i de seguretat que garanteixen la confidencialitat, integritat i qualitat de la informació continguda en aquestes d'acord amb allò establert a la normativa vigent en protecció de dades.</p>
      		<p>No obstant això, ha de ser conscient que les mesures de seguretat dels sistemes informàtics a Internet no són completament fiables i que, per tant, el Titular no pot garantir la inexistència de virus o altres elements que puguin produir alteracions en els sistemes informàtics (software i maquinari) de l'Usuari o en els seus documents electrònics i fitxers que conté encara que el Titular posa tots els mitjans necessaris i pren les mesures de seguretat oportunes per evitar la presència d'aquests elements nocius.</p>
      		<br>
      		<h4>Dades personals</h4>
      		<p>Podeu consultar tota la informació relativa al tractament de dades personals que recull el Titular a la pàgina de la Política de Privadesa.</p>
      		<br>			
      		<h4>Continguts</h4>
      		<p>El Titular ha obtingut la informació, el contingut multimèdia i els materials inclosos al lloc web de fonts que considera fiables, però, si bé ha pres totes les mesures raonables per assegurar que la informació continguda és correcta, el Titular no garanteix que sigui exacta, completa o actualitzada. El Titular declina expressament qualsevol responsabilitat per error o omissió a la informació continguda a les pàgines d'aquest lloc web.</p>
      		<p>Queda prohibit transmetre o enviar a través del lloc web qualsevol contingut il·legal o il·lícit, virus informàtics, o missatges que, en general, afectin o violin drets del Titular o de tercers.</p>
      		<p>Els continguts del Lloc Web tenen únicament una finalitat informativa i sota cap circumstància s'han d'usar ni considerar com a oferta de venda, sol·licitud d'una oferta de compra ni recomanació per fer qualsevol altra operació, llevat que així s'indiqui expressament.</p>
      		<p>El Titular es reserva el dret a modificar, suspendre, cancel·lar o restringir el contingut del Lloc Web, els enllaços o la informació obtinguda a través del lloc web, sense necessitat de previ avís.</p>
      		<p>El Titular no és responsable dels danys i perjudicis que es puguin derivar de la utilització de la informació del lloc web o de la continguda a les xarxes socials del Titular.</p>
      		<br>
      		<h4>Propietat intel·lectual i industrial</h4>
      		<p>Tots els drets estan reservats.</p>
      		<p>Tot accés a aquest lloc web està subjecte a les condicions següents: la reproducció, emmagatzematge permanent i la difusió dels continguts o qualsevol altre ús que tingui finalitat pública o comercial queda expressament prohibida sense el consentiment previ exprés i per escrit de Titular.</p>
      		<br>			
      		<h4>Limitació de responsabilitat</h4>
      		<p>La informació i els serveis inclosos o disponibles a través d'aquest lloc web poden incloure incorreccions o errors tipogràfics. De forma periòdica el Titular incorpora millores i/o canvis a la informació continguda i/o els serveis que pot introduir en qualsevol moment.</p>
      		<p>El Titular no declara ni garanteix que els serveis o continguts siguin interromputs o que estiguin lliures d'errors, que els defectes siguin corregits, o que el servei o el servidor que el posa a disposició estiguin lliures de virus o altres components nocius sense perjudici que el Titular realitza tots els esforços per evitar aquest tipus d'incidents.</p>
      		<p>El Titular declina qualsevol responsabilitat en cas que hi hagi interrupcions o un mal funcionament dels serveis o continguts oferts a Internet, sigui quina sigui la seva causa. Així mateix, el Titular no es fa responsable per caigudes de la xarxa, pèrdues de negoci a conseqüència de les caigudes esmentades, suspensions temporals de fluid elèctric o qualsevol altre tipus de dany indirecte que et pugui ser causat per causes alienes al Titular.</p>
      		<p>Abans de prendre decisions i/o accions amb base a la informació inclosa al lloc web, el Titular us recomana comprovar i contrastar la informació rebuda amb altres fonts.</p>
      		<br>
      		<h4>Jurisdicció</h4>
      		<p>Aquest Avís Legal es regeix íntegrament per la legislació espanyola.</p>
      		<p>Sempre que no hi hagi una norma que obligui a una altra cosa, per a totes les qüestions que se suscitin sobre la interpretació, l'aplicació i el compliment d'aquest Avís Legal, així com de les reclamacions que es puguin derivar del seu ús, les parts acorden sotmetre's als Jutges i Tribunals de la província de Barcelona, amb renúncia expressa de qualsevol altra jurisdicció que els pogués correspondre.</p>
      		<br>			
			<h2>Contacte</h2>
      		<p>En cas que tingueu qualsevol dubte sobre aquestes Condicions legals o vulgueu realitzar qualsevol comentari sobre aquest lloc web, podeu enviar un missatge de correu electrònic a <a href="mailto:contacte@quepucferavui.cat">contacte@quepucferavui.cat.</a></p>
    	</div>
	    
		<!--/* LOGIN -------------------------------------------------------------- */-->
		<div th:replace="front/form/login"></div>
		
		<!--/* RECORDAR CONTRASENYA ----------------------------------------------- */-->
		<div th:replace="front/form/recordar"></div>				
		
		<!--/* REGISTRE ----------------------------------------------------------- */-->
		<div th:replace="front/form/registre"></div>
		
		<!--/* PANELL USUARI ESTANDAR --------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/panellUsuari"></div>
		
		<!--/* DADES USUARI (modificar les meves dades) ---------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="back/usuari/form/dadesUsuari"></div>
		
		<!--/* BAIXA --------------------------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/baixa"></div>		
	    
		<!--/* CONTACTAR ---------------------------------------------------------- */-->
		<div th:replace="front/form/contactar"></div>
	    
		<!--/* COOKIES ------------------------------------------------------------ */-->    	
		<div th:replace="front/static/cookies"></div>
		
		<!--/* PEU ---------------------------------------------------------------- */-->
		<div th:replace="front/static/footer"></div>				
	
	</body>

	<!--/* ------------------------------------------------------------------------ */-->
	<!--/* (Optional) JAVASCRIPT -------------------------------------------------- */-->
	<!--/* jQuery first, then Popper.js, then Bootstrap JS ------------------------ */-->
	<!--/* ------------------------------------------------------------------------ */-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
	<script src="/js/front/bootstrap.min.js"></script>
	<script defer="" src="/js/front/fontawesome_all.min.js"></script>
	<script defer="" src="/js/front/cookie.min.js"></script>
	<script src="/js/front/script.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/front/responsive_waterfall.js"></script>
	<script src="/js/front/app.js"></script>
	<script sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" src="/js/back/script.js"></script>

</html>