<!DOCTYPE html>
<html lang="ca">

	<head>
	  	<!--/* Required meta tags ------------------------------------------------- */-->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Projecte final 2021 per DAW">
	    <meta name="keywords" content="projecte, DAW">
	    <meta name="author" content="Grup 5">
	    <!--/* CSS ---------------------------------------------------------------- */-->
	    <link rel="stylesheet" href="/css/front/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/front/style.css">
	    <link rel="stylesheet" href="/css/front/style2.css">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&amp;family=Montserrat:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/css/68818763319cf667ed141dc03e654e8db3424772/assets/css/animate.min.css">
	    <link rel="stylesheet" href="/css/front/fontawesome.min.css">
	    <link rel="stylesheet" href="/css/front/brands.min.css">
	    <link rel="stylesheet" href="/css/front/solid.min.css">
	    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	    <title>Quepucferavui.cat</title>
	</head>
  
	<body class="snippet-body" oncontextmenu="return false">
  
		<!--/* CAPÇALERA ---------------------------------------------------------- */-->
		<div th:replace="front/static/header"></div>
		
		<!--/* COS ---------------------------------------------------------------- */-->
    	<div class="container doc-avis pb-2 px-5 px-md-0">
      		<h2 class="text-center">Política de privacitat</h2>
      		<p>Aquesta Política de Privacitat o Política de Privadesa estableix els termes en què quepucferavui.cat utilitza i protegeix la informació proporcionada pels usuaris en el moment d'utilitzar el seu lloc web. Aquesta companyia està compromesa amb la seguretat de les dades dels usuaris. Quan us demanem omplir els camps d'informació personal amb la qual pugueu ser identificats, ho fem assegurant que només s'utilitzarà d'acord amb els termes d'aquest document. No obstant això, aquesta Política de Privadesa pot canviar amb el temps o ser actualitzada pel que us recomanem i emfatitzem revisar contínuament aquesta pàgina per assegurar-se que està d'acord amb aquests canvis.</p>
      		<h4>Informació que és recollida</h4>
      		<p>El nostre lloc web podrà recollir informació personal per exemple: Nom, informació de contacte com la vostra adreça de correu electrònic i informació demogràfica. Així mateix quan calgui podrà ser requerida informació específica per processar alguna comanda o realitzar un lliurament o facturació.</p>
      		<h4>Ús de la informació recollida</h4>
      		<p>El nostre lloc web empra la informació per tal de proporcionar el millor servei possible, particularment per mantenir un registre d'usuaris, de comandes en cas que apliqui, i millorar els nostres productes i serveis. És possible que siguin enviats correus electrònics periòdicament a través del nostre lloc amb ofertes especials, nous productes i altra informació publicitària que considerem rellevant per a vostè o que li pugui brindar algun benefici, aquests correus electrònics seran enviats a l'adreça que vostè proporcioni i podran ser cancel·lats en qualsevol moment.</p>
      		<p>quepucferavui.cat està altament compromès per complir el compromís de mantenir la seva informació segura. Fem servir els sistemes més avançats i els actualitzem constantment per assegurar-nos que no hi hagi cap accés no autoritzat.</p>
      		<h4>Cookies</h4>
      		<p>Una galeta es refereix a un fitxer que és enviat amb la finalitat de sol·licitar permís per emmagatzemar-se al vostre ordinador, en acceptar aquest fitxer es crea i la galeta serveix llavors per tenir informació respecte al trànsit web, i també facilita les futures visites a una web recurrent. Una altra funció que tenen les cookies és que amb elles les web et poden reconèixer individualment i per tant oferir-te el millor servei personalitzat de la seva web.</p>
      		<p>El nostre lloc web utilitza les cookies per poder identificar les pàgines que són visitades i la seva freqüència. Aquesta informació és emprada únicament per a anàlisi estadístic i després la informació s'elimina de forma permanent. Vostè pot eliminar les galetes en qualsevol moment des del vostre ordinador. No obstant això, les cookies ajuden a proporcionar un millor servei dels llocs web, aquestes no donen accés a informació del seu ordinador ni de vostè, llevat que vostè així ho vulgui i la proporcioni directament. Vostè pot acceptar o negar l'ús de galetes, però la majoria de navegadors accepten galetes automàticament ja que serveix per tenir un millor servei web. També podeu canviar la configuració del vostre ordinador per declinar les cookies. Si es declinen és possible que no pugueu utilitzar alguns dels nostres serveis.</p>
      		<h4>Enllaços a Tercers</h4>
      		<p>Aquest lloc web pogués contenir enllaços a altres llocs que poguessin ser del seu interès. Quan vostè fa clic en aquests enllaços i abandona la nostra pàgina, ja no tenim control sobre el lloc al qual és redirigit i per tant no som responsables dels termes o privadesa ni de la protecció de les seves dades en aquests altres llocs tercers. Aquests llocs estan subjectes a les seves pròpies polítiques de privadesa per la qual cosa és recomanable que els consulteu per confirmar que vostè està d'acord amb aquestes.</p>
      		<h4>Control de la vostra informació personal</h4>
      		<p>En qualsevol moment vostè pot restringir la recopilació o l'ús de la informació personal que és proporcionada al nostre lloc web. Cada vegada que se us demani omplir un formulari, com el d'alta d'usuari, podeu marcar o desmarcar l'opció de rebre informació per correu electrònic. En cas que hagi marcat l'opció de rebre el nostre butlletí o publicitat pot cancel·lar-la en qualsevol moment.</p>
      		<p>Aquesta companyia no vendrà, cedirà ni distribuirà la informació personal que és recopilada sense el seu consentiment, llevat que sigui requerit per un jutge amb un ordre judicial.</p>
      		<p>quepucferavui.cat es reserva el dret de canviar els termes de la present Política de Privadesa en qualsevol moment.</p>
    </div>
	    
		<!--/* LOGIN -------------------------------------------------------------- */-->
		<div th:replace="front/form/login"></div>
		
		<!--/* RECORDAR CONTRASENYA ----------------------------------------------- */-->
		<div th:replace="front/form/recordar"></div>				
		
		<!--/* REGISTRE ----------------------------------------------------------- */-->
		<div th:replace="front/form/registre"></div>
		
		<!--/* PANELL USUARI ESTANDAR --------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/panellUsuari"></div>
		
		<!--/* DADES USUARI (modificar les meves dades) ---------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="back/usuari/form/dadesUsuari"></div>
		
		<!--/* BAIXA --------------------------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/baixa"></div>		
	    
		<!--/* CONTACTAR ---------------------------------------------------------- */-->
		<div th:replace="front/form/contactar"></div>
	    
		<!--/* COOKIES ------------------------------------------------------------ */-->    	
		<div th:replace="front/static/cookies"></div>
		
		<!--/* PEU ---------------------------------------------------------------- */-->
		<div th:replace="front/static/footer"></div>		
	
	</body>

	<!--/* ------------------------------------------------------------------------ */-->
	<!--/* (Optional) JAVASCRIPT -------------------------------------------------- */-->
	<!--/* jQuery first, then Popper.js, then Bootstrap JS ------------------------ */-->
	<!--/* ------------------------------------------------------------------------ */-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
	<script src="/js/front/bootstrap.min.js"></script>
	<script defer="" src="/js/front/fontawesome_all.min.js"></script>
	<script defer="" src="/js/front/cookie.min.js"></script>
	<script src="/js/front/script.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/front/responsive_waterfall.js"></script>
	<script src="/js/front/app.js"></script>
	<script sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" src="/js/back/script.js"></script>	
	
</html>