<!DOCTYPE html>
<html lang="ca">

	<head>
	  	<!--/* Required meta tags ------------------------------------------------- */-->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Projecte final 2021 per DAW">
	    <meta name="keywords" content="projecte, DAW">
	    <meta name="author" content="Grup 5">
	    <!--/* CSS ---------------------------------------------------------------- */-->
	    <link rel="stylesheet" href="/css/front/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/front/style.css">
	    <link rel="stylesheet" href="/css/front/style2.css">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&amp;family=Montserrat:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="https://d33wubrfki0l68.cloudfront.net/css/68818763319cf667ed141dc03e654e8db3424772/assets/css/animate.min.css">
	    <link rel="stylesheet" href="/css/front/fontawesome.min.css">
	    <link rel="stylesheet" href="/css/front/brands.min.css">
	    <link rel="stylesheet" href="/css/front/solid.min.css">
	    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	    <title>Quepucferavui.cat</title>
	</head>
  
	<body class="snippet-body" oncontextmenu="return false">
  
		<!--/* CAPÇALERA ---------------------------------------------------------- */-->
		<div th:replace="front/static/header"></div>
		
		<!--/* COS ---------------------------------------------------------------- */-->			
		<div class="container contingut-principal">
      		<div>
        		<h2>T'oferim tot tipus d'experiències adaptades al teu estat d'ànim!</h2>
        		<span>
        			Només cal que responguis a 4 preguntes i... Pum! 
        			<br> 
        			Et mostrem totes les activitats que tenim i s'adapten 
        			<br>
        			a la teva consulta.
	       		</span>
    		</div>
    	</div>
	    
		<!--/* LOGIN -------------------------------------------------------------- */-->
		<div th:replace="front/form/login"></div>
		
		<!--/* RECORDAR CONTRASENYA ----------------------------------------------- */-->
		<div th:replace="front/form/recordar"></div>				
		
		<!--/* REGISTRE ----------------------------------------------------------- */-->
		<div th:replace="front/form/registre"></div>	
		
		<!--/* PANELL USUARI ESTANDAR --------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/panellUsuari"></div>
		
		<!--/* DADES USUARI (modificar les meves dades) ---------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="back/usuari/form/dadesUsuari"></div>
		
		<!--/* BAIXA --------------------------------------------------------------- */-->
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" th:replace="front/static/baixa"></div>		
	    
		<!--/* CONTACTAR ---------------------------------------------------------- */-->
		<div th:replace="front/form/contactar"></div>
	    
		<!--/* COOKIES ------------------------------------------------------------ */-->    	
		<div th:replace="front/static/cookies"></div>
		
		<!--/* PEU ---------------------------------------------------------------- */-->
		<div th:replace="front/static/footerBottom"></div>		
	
	</body>

	<!--/* ------------------------------------------------------------------------ */-->
	<!--/* (Optional) JAVASCRIPT -------------------------------------------------- */-->
	<!--/* jQuery first, then Popper.js, then Bootstrap JS ------------------------ */-->
	<!--/* ------------------------------------------------------------------------ */-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
	<script src="/js/front/bootstrap.min.js"></script>
	<script defer="" src="/js/front/fontawesome_all.min.js"></script>
	<script defer="" src="/js/front/cookie.min.js"></script>
	<script src="/js/front/script.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/front/responsive_waterfall.js"></script>
	<script src="/js/front/app.js"></script>
	<script sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROMOTOR','ROLE_USER')" src="/js/back/script.js"></script>	

</html>